.contador {
  padding: 20px;
  margin: 20px;
  border: 1px solid #000;
  display: flex;
}

.add-people-button {
  display: block;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
  background: #DDD;
  color: #000;
}

.contador-total {
  font-size: 30px;
}
